.wrapper {
  display: flex;
  position: relative;
  background-image: url("asset/img/background-game.jpg");
  height: 800px;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 12px;
}
nav {
  background-color: #dce4ee;
  height: 50px;
  box-sizing: border-box;
  padding: 5px;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.wrapper div {
  width: 70px;
  height: 70px;
}
.first_box {
  background-color: #d3352e;
  position: absolute;
  left: 0px;
}
.second_box {
  background-color: #9e9ea3;
  position: absolute;
  left: 100px;
}

.third_box {
  background-color: #9e9ea3;
  position: absolute;
  left: 200px;
}
.forth_box {
  background-color: #9e9ea3;
  position: absolute;
  left: 300px;
}
.message-to-user {
  position: absolute;
  background-color: #67678d;
  padding: 70px;
  top: 200px;
  left: 600px;
  border-radius: 2px;
  display: none;
}
.message-to-user h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
